:root {
	--color-prettylights-syntax-comment: @overlay1;
	--color-prettylights-syntax-constant: @blue;
	--color-prettylights-syntax-entity: @blue;
	--color-prettylights-syntax-storage-modifier-import: @peach;
	--color-prettylights-syntax-entity-tag: @teal;
	--color-prettylights-syntax-keyword: @pink;
	--color-prettylights-syntax-string: @green;
	--color-prettylights-syntax-variable: @peach;
	--color-prettylights-syntax-brackethighlighter-unmatched: #f0f;
	--color-prettylights-syntax-invalid-illegal-text: @red;
	--color-prettylights-syntax-invalid-illegal-bg: fadeout(@red, 85%);
	--color-prettylights-syntax-carriage-return-text: #f0f;
	--color-prettylights-syntax-carriage-return-bg: #f0f;
	--color-prettylights-syntax-string-regexp: #f0f;
	--color-prettylights-syntax-markup-list: #f0f;
	--color-prettylights-syntax-markup-heading: @teal;
	--color-prettylights-syntax-markup-italic: @yellow;
	--color-prettylights-syntax-markup-bold: @yellow;
	--color-prettylights-syntax-markup-deleted-text: @text;
	--color-prettylights-syntax-markup-deleted-bg: fadeout(@red, 60%);
	--color-prettylights-syntax-markup-inserted-text: @text;
	--color-prettylights-syntax-markup-inserted-bg: fadeout(@green, 60%);
	--color-prettylights-syntax-markup-changed-text: @text;
	--color-prettylights-syntax-markup-changed-bg: fadeout(@yellow, 60%);
	--color-prettylights-syntax-markup-ignored-text: @text;
	--color-prettylights-syntax-markup-ignored-bg: #f0f;
	--color-prettylights-syntax-meta-diff-range: @mauve;
	--color-prettylights-syntax-brackethighlighter-angle: #f0f;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #f0f;
	--color-prettylights-syntax-constant-other-reference-link: #f0f;
}
